.search-container {
    display: flex;
    margin-bottom: 20px;
}

.input-search {
    width: 100%;
    height: fit-content;
    line-height: 30px;
    font-size: 16px;
    padding-left: 8px;
    border: 2px solid #757575;
    outline: none;
}